<html lang="en">
    <head>
        <title>Slim/VueJS Dashboard</title>
        {{ csrf_meta() | raw }}
    </head>
    <body>
        <div id="app">
            {% block content %} {%endblock%}
        </div>
        <script type="text/javascript" src="/dist/bundle.js"></script>
    </body>
</html>