.navbar {
	transition: all 0.3s;
	padding: 0;
	background: var(--bg-color-light);
	overflow: auto;
	min-width: 320px;
	//border-bottom: 5px solid var(--bg-color);
	.navbar-collapse {
		min-height: 85px;
		overflow: hidden;
		.navbar-nav {
			height: 100%;
			li .router-link-exact-active {
				color: var(--font-color-hover) !important;
				&:after {
					content: "";
					display: none;
				}
			}

			li .nav-link {
				position: relative;
				color: var(--font-color);
				padding: 1rem;
				border-top: 1px solid var(--hr-rule);
				&:hover {
					color: var(--font-color-hover);
					&:after {
						content: "";
						display: none;
					}
				}
			}

			@media (min-width: 576px) {
				li .router-link-exact-active {
					color: var(--font-color-hover) !important;
					&:after {
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						margin-left: -15px;
						bottom: -15px;
						width: 0;
						height: 0;
						transition: all 0.3s;
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 15px solid var(--bg-color);
					}
				}

				li .nav-link {
					position: relative;
					color: var(--font-color);
					border: 0;
					&:hover {
						color: var(--font-color-hover);
						&:after {
							content: "";
							display: block;
							position: absolute;
							left: 50%;
							margin-left: -15px;
							bottom: -15px;
							width: 0;
							height: 0;
							border-left: 15px solid transparent;
							border-right: 15px solid transparent;
							border-bottom: 15px solid var(--bg-color);
						}
					}
				}

				&:hover > li .nav-link {
					&:after {
						opacity: 0;
					}
					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.navbar-brand {
		font-weight: 700;
		font-size: 1.2rem;
		padding: 0;
		img {
			min-width: 85px;
			background: var(--bg-color-pri);
		}
	}

	.socials {
		display: flex;
		flex-direction: row;
		position: absolute;
		overflow: hidden;
		top: 0;
		right: 2rem;
		min-height: 85px;
		align-content: center;
		align-items: center;
		.nav-item {
			margin: 0 0.50rem;
		}
		.theme-toggle-item .nav-link {
			padding: 0;
			margin: 0;
			&:hover {
				color: var(--font-color-hover);
				transition: all 0.2s;
				&:after {
					content: "";
					display: none;
				}
			}
			.theme-toggle {
				border: 0;
				background: none;
				transition: all 0.3s;
				padding: 0;
				margin: 0;
				border-left: 1px solid var(--hr-rule);
				padding-left: 1rem;
				&.light,
				&.dark {
					color: var(--font-color);
				}
			}
		}

		.navbar-toggler {
			margin-left: 1.25rem;
			border: 0;
			padding: 0;
			background: none;
			.navbar-toggler-icon {
				padding: 1rem;
				stroke: var(--font-color) !important;
				margin-bottom: 0.25rem;
			}
		}
	}

	.externals {
		padding-right: 2rem;
	}
	.toggle-theme-mode {
		padding: 0;
		margin: 0;
		border: 0;
		border-left: 1px solid #f1f1f1;
		outline: none;
		background: none;
	}
}
