//bootstrap overrides
$theme-colors: (
  "primary": #02c39a,
  "danger": #ee6c4d,
  "info": #028090,
  "text-primary": #000000,
  "pacey-pink": #db3f77
);


/* Enable
============================================= */
$enable-gradients: false;
$enable-shadows: false;